<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.user.pr-notifier</string>
  <key>ProgramArguments</key>
  <array>
    <string>/bin/bash</string>
    <string>/Users/pinhosmac/.local/bin/pr-notifier</string>
  </array>
  <key>StartInterval</key>
  <integer>120</integer>
  <key>StandardOutPath</key>
  <string>/Users/pinhosmac/.local/share/pr-notifier/launchd-stdout.log</string>
  <key>StandardErrorPath</key>
  <string>/Users/pinhosmac/.local/share/pr-notifier/launchd-stderr.log</string>
  <key>EnvironmentVariables</key>
  <dict>
    <key>PATH</key>
    <string>/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin</string>
    <key>GITHUB_USER</key>
    <string>felipePinhoS</string>
    <key>GITHUB_ORG</key>
    <string>fulcrumapp</string>
    <key>PR_NOTIFIER_WATCHED_LABELS</key>
    <string>design,hold/design</string>
    <key>PR_NOTIFIER_WATCHED_REPO</key>
    <string>fulcrumapp/fulcrum-android,fulcrumapp/fulcrum-ios</string>
  </dict>
  <key>RunAtLoad</key>
  <true/>
</dict>
</plist>
